<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask!</title>
    <style>


    </style>
</head>

<body>
    <h3>快速處理</h3>
    <!-- 兩種寫法，一次滿足 -->
    <h4>訪客: {{content["name"]}}</h4>
    <h4>時間: {{content["date"]}}</h4>
    <h4>訪客: {{content.name}}</h4>
    <h4>時間: {{content.date}}</h4>
    <ul>
        <li><a href="/stock">亞股資訊</a></li>
        <!-- 試試看新視窗開啟 -->
        <li><a href="/lotto">樂透資訊</a></li>
        <li><a href="/pm25">PM25資訊</a></li>
    </ul>


</body>





</html>