<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h4>pm25-Charts</h4>
</body>
<script>
    const chart = echarts.init(document.getElementById("main"));

    $(document).ready(() => {
        drawPM25();
    })

    function drawPM25() {
        $.ajax(
            {
                url: "/pm-json",
                type: "POST",
                dataType: "json",
                success: (data) => {
                    console.log(data);
                },
            }
        );
        // console.log('AJAX');
    }
</script>

</html>